<html>
  <head>
    <title>Lista de Productos</title>
  </head>
  <body>
    <h1>Lista de Productos</h1>

    {{#each cardProducts}}
      <div class="product-card">
        <img src="http://localhost:8080/static/{{this.image}}" />
        <h2>{{this.title}}</h2>
        <p>{{thisdescription}}</p>
        <p>Precio: ${{this.price}}</p>
        <button class="add-to-cart" data-product-id="{{_id}}">Agregar al carrito</button>
      </div>
    {{/each}}
  </body>
</html>