<html>
  <head>
    <title>Lista de Productos</title>
  </head>
  <body>

    <h1>Bienvenido {{first_name}} {{last_name}}</h1>

    <h2>email: {{email}}</h2>
    <h2>Edad: {{age}} años</h2>

    <button id="logoutButton">Logout</button>

    <h1>Lista de Productos</h1>

    {{#each cardProducts}}
      <div class="product-card">
        <img src="http://localhost:8080/static/{{this.image}}" />
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p>Precio: ${{this.price}}</p>
        <button class="add-to-cart" data-product-id="{{this._id}}">Agregar al
          carrito</button>
      </div>
    {{/each}}
  </body>
</html>

<script src="/static/js/boton.js"></script>
<script>
  document.getElementById("logoutButton").addEventListener("click", function() {
  fetch("/logout", { method: "GET", credentials: "same-origin"
  }).then(function() { window.location.href = "/login"; }); });
</script>