<form
  action="http://localhost:8080/api/products"
  method="post"
  enctype="multipart/form-data"
>
  <label>Nombre del producto:</label>
  <input type="text" name="title" />
  <br />
  <label>Descripcion del producto:</label>
  <input type="text" name="description" />
  <br />
  <label>Código del producto:</label>
  <input type="text" name="code" />
  <br />
  <label>Precio del producto:</label>
  <input type="number" name="price" />
  <br />
  <label>Stock del producto:</label>
  <input type="number" name="stock" />
  <br />
  <label>Categoria del producto:</label>
  <input type="text" name="category" />
  <br />
  <label>Imagen:</label>
  <input type="file" name="file" />
  <br />
  <button type="submit" value="submit">Enviar</button>
</form>

{{#each products}}
  <div>
    <img src="http://localhost:8080/static/{{this.image}}" />
    <h2>{{this.title}}</h2>
    <p>{{this.description}}</p>
    <p>{{this.code}}</p>
    <p>{{this.price}}</p>
    <p>{{this.stock}}</p>
    <p>{{this.category}}</p>
    <p>{{this.image}}</p>
  </div>
{{/each}}

{{! title, description, code, price, stock, category, image }}